body{
	background-color: #7986CB;
	height: 100%;

}

.div, #container{
	width: 50%;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 10px;
	background-color: #311B92;
	height: 100%;
	border-radius: 5px;
	box-shadow: black 15px 8px 50px;

}

header{

	color: #FFF;
	text-align: center;
	margin-bottom: 30px;
	font-size: 25px;
}

#nom, #prenom , #password ,#email, #username, #date,#niveau{
	color: #FF9800;
	text-align: center; 
	font-size: 25px;
	padding: 20px;
}

 p{
	color: #FFFFFF;
	float: left;
	font-size: 25px;
	padding: 20px;
}

#submit{
	margin: 10px 0px 10px 43%;
	font-size: 30px;
	color: #FFF;
}

#checkboxes{
	padding-top: 20px; 
	margin-bottom: 0px;
	text-align: left;
	margin-left: 45%;
}

input{
	padding: 10px 20px 10px 20px;
	margin: 10px 10px 0px;
	text-align: center;
	font-size: 15px;
}

fieldset{
	border-color: #FFF;
	margin-bottom: 20px;
	margin: auto;
}

#main_title{
	padding-top: 30px;
}

h4{
	color: #FF9800;
}

#submit{
	background-color: #7986CB;
	padding: 10px 20px 10px 20px;
	border-radius: 5px;
	border-style: none;
}

a{
	color: #FFF;
}